<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>
	<h2 th:text="#{welcome}">PlaceHolder</h2>
	<div class="row">
		<div class="col-md-12">
			<img class="img-responsive"
				th:src="@{/resources/images/companylogo.png}" />
		</div>
	</div>

	</th:block>
	<!-- Feedback form -->
	<div align="center">
	    <h1>User Registration</h1>
	    <form action="#" th:action="@{/}" method="post" th:object="${user}">
	        <label>Name:</label>
	        <input type="text" th:field="*{name}" /><br/>
	 
	        <label>Age:</label>
	        <input type="text" th:field="*{age}" /><br/>
	 
	        <label>Gender:</label>
	        <input type="password" th:field="*{gender}" /><br/>
	 
	        <label>Country:</label>
	        <input type="text" th:field="*{country}" /><br/>
	 
	        <label>Gender:</label>
	        <input type="radio" th:field="*{gender}" value="Male" />Male
	        <input type="radio" th:field="*{gender}" value="Female" />Female<br/>
	 
	        <br/>
	    </form>
	    <form action="#" th:action="@{/}" method="post" th:object="${contact}">
	     	<label>Mobile:</label>
	        <input type="text" th:field="*{mobile}" /><br/>
	 
	        <label>Email:</label>
	        <input type="text" th:field="*{email}" /><br/>
	   		
	   		<br/>
	    </form>
	    
	    <button type="submit">Register</button>   
	</div>
	
	<!--   copyright symbol with the current year -->
	<footer style="position: relative; height: 300px;  width: 100%;">
		<div id="footer"
			style="position: absolute; width: 100%; line-height: 40px; text-align: center; bottom: 0;">
			 Copyright &copy; <script>document.write(new Date().getFullYear())</script> PretendCo.</div>
	</footer>
</body>

</html>